/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * forma-djr-mono:
 *   - http://typekit.com/eulas/0000000000000000775aed83
 *
 * © 2009-2025 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_status: live":"2025-05-01 13:04:32 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=ccs0evy&ht=tk&f=55895&a=1494256&app=typekit&e=css");

@font-face {
font-family:"forma-djr-mono";
src:url("https://use.typekit.net/af/c7479c/0000000000000000775aed83/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/c7479c/0000000000000000775aed83/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/c7479c/0000000000000000775aed83/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

.tk-forma-djr-mono { font-family: "forma-djr-mono",sans-serif; }
