
$credits: 300px;
$credits-bg: #ffffcc;
$credits-color: brown;
$credits-text: black;

#credits {
    width: $credits;
    height: 100vh;
    padding: $gap2;
    padding-bottom: $gap4;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;

    overflow-y: auto;
    overflow-x: hidden;

    background-color: $credits-bg;
    box-sizing: border-box;
    transition: right 0.3s ease-in-out;

    color: $credits-text;

    .description {
        margin: $gap 0;
        // Aumenta o line-height de todos os elementos dentro de .description
        *, *:before, *:after {
            line-height: 1.4 !important;
        }
        // Aplica opacidade 50% para elementos com strikethrough
        del, s, strike, .strikethrough, li:has(del), li:has(s), li:has(strike) {
            opacity: 0.5;
        }
        ul {
            font-size: 13px;
            list-style: disc;
            padding-left: $gap;
        }


    }

}

article.content {
    transition: margin-left 0.3s ease-in-out;
    position: relative;
}

main.container {
    .mice {
        z-index: 1000;
        background-color: white;
        border-radius: 50%;
        height: $gap2;
        width: $gap2;
        position: fixed;
        bottom: $gap;
        right: $gap;
        text-decoration: none;
        display: flex; // Centraliza o conteúdo
        align-items: center;
        justify-content: center;
        opacity: 0.6;
        filter: grayscale(100%);
        transition: all 0.3s ease;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

        &:before {
            font-size: 0.8rem;
            line-height: 1;
        }

        &:hover {
            opacity: 1;
            filter: grayscale(0%);
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
        }
        &.credits-open:before {
            content: "🛎️";
        }
        &.reload {
            bottom: $gap4;
            position: absolute;
            &:before {
                content: "🔄";
                line-height: 1.2;
            }
        }

        &.credits-close:before {
            content: "✖️";
        }
    }

    &:not(.open-credits) {
        #credits {
            right: -$credits;
        }
        .credits-close {
            display: none;
        }
        .curtain-credits {
            display: none;
            z-index: 1000;
        }
    }

    &.open-credits {
        article.content {
            margin-left: -$credits;
        }
        #credits {
            right: 0;
        }
        .credits-open {
            display: none;
        }
        .curtain-credits {
            display: block;
        }
    }
}

article.content {
    position: relative; // Necessário para posicionar a curtain em relação ao article
}

.curtain-credits {
    transition: display 0.3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    backdrop-filter: blur(8px);

    z-index: 1000;

    display: none; // Esconde por padrão

    // Mostra quando o main está com .open-credits
}

.button {
    border: 1px solid $credits-color;
    background-color: $credits-bg;
    padding: $gap;
    text-decoration: none;
    color: $credits-text;
    font-weight: bold;
    display: block;
    margin-bottom: $gaphalf;

    transition: background-color 0.2s ease;

    &:hover {
        background-color: white;
    }
}

.date {
    font-size: 80%;
    margin-top:5px !important;
}

h1,
h2,
h3,
h4,
.date {
    padding: 0;
    margin: 0;
}

#qrdisplay {
    margin-bottom: $gap;
}
section.tags,
section.share {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    margin-bottom: $gap;
    .tooltip,
    .actions,
    & > a {
        border: 1px solid $credits-color;
        margin: -1px -1px 0 0; // “empurra” os elementos pra que as bordas se sobreponham
        padding: $gaphalf $gap;
        cursor: pointer;
        font-size: 80%;
        text-decoration: none;
        font-weight: 600;
        color: $credits-text;
        transition: background-color 0.2s ease;
        &:hover {
            background-color: white;
        }
    }

    .actions {
        margin-top: $gap;
        display: inline-block;
        &:hover {
            background-color: $credits-bg;
        }
    }
}

.references {
    a[data-microlink] {
        display: block;
    }
    margin-bottom: $gap;
}

/* .share {
display: grid;
grid-template-columns: repeat(3, 1fr);
border: 1px solid $credits-color;
border-width: 1px 1px 0 0;
overflow: hidden;

a {
padding: $gaphalf;
font-size: 80%;
font-weight: 600;
color: $credits-text;
text-decoration: none;
border: 1px solid $credits-color;
margin: -1px -1px 0 0;
transition: background-color 0.2s ease;

svg {
width: 24px;
height: 24px;
display: block;
margin-bottom: $gaphalf;

path {
fill: $credits-text;
}
}

&:hover {
background-color: white;
}
}
} */

.tippy-box {

    border-radius: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-height: 250px;
    &:not(.nav-tooltip) {
        background-color: white;
        color: $credits-text;
        width: $credits;
        overflow: auto;
        margin-left: -4px;
        padding: 22px;
        .tippy-arrow {
            display: none;
        }
    }
    p {
        &:first-of-type {
            margin-top: 0;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    opacity: 0;
    box-sizing: border-box;
    &[data-state="visible"] {
        opacity: 1;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }


}

