html.index {
    .container {
        width: 100%;
        max-width: $display-sm;
        padding-top: 0;
        margin: 0 auto;
    }

    #credits,
    a.credits-open {
        display: none;
    }

    ul,
    ol {
        padding: 0;
    }
    li {
        list-style: none;
        margin-top: 8px;
        padding-left: 7px;
    }
    body {
        background-color: $color-bg;
        color: $color-fg;
        @include transition;
        font-family: SpaceGrotesk-Light;
        line-height: 150%;
    }

    .ascii {
        line-height: 120%;
        font-size: 60%;
        font-family: monospace;
    }

    p {
        width: 100% !important;
    }

    a:not(.preview) {
        color: $color-fg;
        p & {
            margin: 0 5px;
        }
        text-decoration: none;
        outline: solid 5px darken(yellow, 10%);

        background-color: darken(yellow, 10%);
        color: $color-bg;
        @include transition;
        &:hover {
            background-color: darken(yellow, 20%);
            outline: solid 5px darken(yellow, 20%);
            color: $color-fg;
        }
    }
}
