{{/*
    Class logic for <html> element:
    - Always includes "single" and "no-js".
    - Adds the base file name as a class if available (e.g. the post's slug).
    - Adds each value from .Params.class (if present), as individual classes.
    - Adds the post's status (e.g. "live", "draft") as a class if present.
    - Adds the section name (e.g. "curva") as a class if present.
    - Adds "single" if the page is a single post, otherwise "list".
    - For each value in .Params.style:
        - If main.scss contains @import "(style)";
        - Adds (style) as a class.
    - All classes are space-separated and appear in the order above.
*/}}
{{ $mainCSS := readFile "assets/css/main.scss" }}
<!doctype html>
<html
    lang="en"
    class="single no-js{{ with .File }} {{ .BaseFileName }}{{ end }}{{ with .Params.class }}{{ range . }} {{ . }}{{ end }}{{ end }}{{ if .Params.status }} {{ .Params.status }}{{ end }}{{ if .Section }} {{ .Section }}{{ end }}{{ if .IsPage }} single{{ else }} list{{ end }}{{ if .Params.elasticScroll }} elastic-scroll{{ end }}
    {{ with .Params.style }}
      {{ range . }}
        {{ $importLine := printf "@import \"%s\";" . }}
        {{ if in $mainCSS $importLine }} {{ . }}{{ end }}
      {{ end }}
    {{ end }}"
>
