<div class="illustration-preview">
{{ $site := .Site | default . }}
{{ $pages := where $site.RegularPages "Params.status" "live" }}
{{ $filtered := where $pages "File.Dir" "eq" "illustrations/" }}
{{ if (isset . "IsPage") }}
  {{ if .IsPage }}
    {{ $filtered = where $filtered "Permalink" "ne" .Permalink }}
  {{ end }}
{{ end }}
{{ $sorted := sort $filtered "Title" }}
{{ range $sorted }}
  {{ $illos := .Params.illos }}
  {{ $shuffled := shuffle $illos }}
  {{ $pick := index $shuffled 0 }}
  {{ $jpg := printf "static/images/illos/%s.jpg" $pick }}
  {{ $png := printf "static/images/illos/%s.png" $pick }}
  {{ $img := "" }}
  {{ if (fileExists $jpg) }}
    {{ $img = printf "/images/illos/%s.jpg" $pick }}
  {{ else if (fileExists $png) }}
    {{ $img = printf "/images/illos/%s.png" $pick }}
  {{ end }}
  <a href="{{ .RelPermalink }}" class="preview" style="background-image: url('{{ $img }}')">
  </a>
{{ end }}
</div>
