<section class="date">
                    {{ $now := now }} {{ $date := .Page.Date }} {{ $diff := div
                    (sub $now.Unix $date.Unix) 86400 }} {{ if lt $diff 1 }}
                    <p>status: live today</p>
                    {{ else if lt $diff 7 }}
                    <p>status: live {{ $diff }} days ago</p>
                    {{ else if lt $diff 30 }}
                    <p>status: live {{ div $diff 7 }} weeks ago</p>
                    {{ else if lt $diff 365 }}
                    <p>status: live {{ div $diff 30 }} months ago</p>
                    {{ else }}
                    <p>status: live {{ div $diff 365 }} years ago</p>
                    {{ end }}
                </section>