{{ partial "html.html" . }}
    {{ partial "head.html" . }}
    <body>

        <main class="container">

                <a href="javascript:void(0)" class="mice credits-open"></a>
            <article class="content{{ if .Params.illos }} illos{{ end }}">
                    {{ if .Params.illos }}
                        {{ .Content }}
                        {{ range .Params.illos }}
                        <div class="illo-wrapper">
                            {{ $base := printf "images/illos/%s" . }}
                            {{ $jpg := printf "%s.jpg" $base }}
                            {{ $png := printf "%s.png" $base }}
                            {{ if (fileExists (printf "static/%s" $jpg)) }}
                                <img class="zoom-img"
                                    src="{{ $jpg | absURL }}"
                                    data-static="{{ $jpg | absURL }}"
                                    data-anim="{{ printf "%s.webp" $base | absURL }}"
                                    alt="{{ . }}"
                                    style="width: 100%; height: auto;"
                                />
                            {{ else if (fileExists (printf "static/%s" $png)) }}
                                <img class="zoom-img"
                                    src="{{ $png | absURL }}"
                                    data-static="{{ $png | absURL }}"
                                    data-anim="{{ printf "%s.webp" $base | absURL }}"
                                    alt="{{ . }}"
                                    style="width: 100%; height: auto;"
                                />
                            {{ else }}
                                <img class="zoom-img" src="" alt="Missing image: {{ . }}" style="width: 100%; height: auto; border: 2px solid red;" />
                            {{ end }}
                        </div>
                        {{ end }}
                        {{ partial "illustrations" . }}
                    {{ else }}
                        {{ .Content }}
                    {{ end }}
                    <a href="javascript:void(0)" class="curtain-credits credits-close"></a>
            </article>
            {{ partial "credits" . }}
        </main>



      <script>
          document.addEventListener("DOMContentLoaded", () => {
              const isMobile = /iPhone|iPad|iPod|Android/i.test(
                  navigator.userAgent,
              );

              if (isMobile) {
                  setTimeout(() => {
                      window.scrollTo(0, 1);
                  }, 100);
              }
          });
      </script>

      {{ partial "load-js.html" . }}
    </body>


</html>
